<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pasquasoft.android" android:versionCode="1"
	android:versionName="1.0">
    <supports-screens android:anyDensity="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="false" android:largeScreens="false" />

<!--	<uses-sdk android:minSdkVersion="21" />-->

   	<application android:name=".DroidHunterApplication"
		android:icon="@drawable/launcher" android:label="@string/droid_hunter" android:fullBackupOnly="true" android:allowBackup="true">
		<activity android:name=".Main" android:label="@string/droid_hunter" android:exported="true"
			android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"
			android:theme="@style/Theme.DroidHunter" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".DroidHunter" android:label="@string/droid_hunter"
			android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation"
			android:launchMode="singleInstance">
		</activity>
	</application>	

</manifest> 